@import "base";

.container {
    &:nth-child(2) {
        padding-top: 120px;
    }
    
    .title {
        margin-top: 30px;
    }

    .account_container {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 60rem;
        margin-top: 30px;

        @media only screen and (max-width: 1300px) { 
            flex-flow: column;
            height: auto;
        }

        .navigation {
            flex: 0 1 25rem;
            min-width: 25rem;
            display: flex;
            flex-flow: column;

            .header {
                // margin-inline: 10px;
                padding: 20px;
                flex: 0 1 auto;
                border-radius: 20px;
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover;

                p {
                    @include display-xs;
                    font-weight: 500;
                    color: #000;
                }

                h1 {
                    @include display-md;
                    font-weight: 700;
                    color: #fff;
                }
            }

            .navigation_items {
                flex: 0 1 auto;

                .navigation_item {
                    display: flex;
                    align-items: center;
                    padding: 3px 3px;
                    margin: 6px 0;
                    cursor: pointer;
                    border-left: 5px solid transparent;
                    transition: all .3s;

                    .icon {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 4px;
                    }

                    h3 {
                        @include display-xs;
                    }

                    &.active {
                        border-color: hsl(var(--primary));
                    }
                }
            }

            .space_h {
                flex: 1 1 auto;
            }
        }

        .content {
            flex: 1 1 auto;
            margin-left: 15px;
            padding: 2rem;

            @media only screen and (max-width: 1300px) { 
                margin-left: 0px;
                margin-top: 30px;
            }
            
            .header_content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;

                h1.content_title {
                    @include display-md;
                    font-weight: 700;
                    color: #000;
                }
            }

            .account_body {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem 6rem;
                margin-inline: 5rem;

                @media only screen and (max-width: 1300px) { 
                    grid-template-columns: repeat(1, 1fr);
                    gap: 3rem;
                    margin-inline: 0px;
                }
            }

            .orders_body {
                width: 100%;
                height: 95%;

                .empty_order {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        @include display-md;
                        font-weight: 500;
                        color: #6f6f6f;
                    }
                }

                .orders_list {
                    height: 100%;
                    overflow-y: auto;
                    padding-right: 10px;
                    padding-left: 4px;
                    padding-top: 4px;

                    .order_item {
                        display: flex;
                        padding: 0px;
                        border: 0px;
                        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
                        background-color: rgb(242, 242, 242);
                        border: 2px solid rgb(242, 242, 242);
                        border-radius: 15px;
                        margin-bottom: 30px;
                        cursor: pointer;
                        transition: all .3s;

                        @media only screen and (max-width: 1300px) { 
                            flex-direction: column;
                        }

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 2px, rgba(0, 0, 0, 0.08) 0px 0px 2px 5px;
                        }

                        &.skelet {
                            background-color: #fff;
                        }

                        .left {
                            padding: 24px;
                            min-width: 266px;

                            h1.order_title {
                                @include display-sm;
                                font-weight: 700;
                                color: #000;
                                margin-bottom: 12px;
                            }

                            p.order_date {
                                @include display-xss;
                                font-weight: 500;
                                color: #151515;
                                margin-bottom: 1px;
                            }

                            p.order_number {
                                @include display-xss;
                                font-weight: 500;
                                color: #6f6f6f;
                                margin-bottom: 1px;

                                span {
                                    color: hsl(var(--primary))
                                }
                            }

                            h1.order_price {
                                @include display-sm;
                                font-weight: 700;
                                color: #000;
                                margin-top: 8px;
                            }

                            @media only screen and (max-width: 1300px) { 
                                min-width: 100%;
                            }
                        }

                        .products {
                            display: flex;
                            align-items: center;
                            padding: 0px 32px;
                            width: 100%;
                            background-color: #fff;
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                            flex-wrap: wrap;

                            @media only screen and (max-width: 1300px) { 
                                border-radius: 15px;
                                padding: 15px;
                            }

                            .product_icon {
                                width: 72px;
                                height: 60px;
                                margin-right: 12px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    width: 90%;
                                    mix-blend-mode: multiply;
                                }
                            }

                            .product_icon_title {
                                width: 100%;
                                display: flex;
                                align-items: center;

                                h1 {
                                    @include display-xs;
                                    font-weight: 500;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .order_header {
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                .go_back {
                    display: flex;
                    align-items: center;
                    background-color: rgb(235, 235, 235);
                    border-radius: 7px;
                    padding: 6px 13px;
                    cursor: pointer;
                    margin-right: 15px;

                    p {
                        @include display-xss;
                        font-weight: 500;
                    }
                }
            }

            .order_container {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-right: 4px;

                .subheader {
                    margin-top: 30px;
                    margin-bottom: 2rem;

                    h1.order_title {
                        @include display-lg;
                        font-weight: 600;
                        color: #141414;

                        span {
                            font-weight: 700;
                        }
                    }

                    h2.order_subtitle {
                        @include display-sm;
                        font-weight: 500;
                        color: #6f6f6f;
                    }
                }

                .order_item_address {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem 2rem;
                }

                .order_item {
                    margin-bottom: 3rem;

                    h1.order_item_title {
                        @include display-sm;
                        font-weight: 600;
                        color: #141414;
                        margin-bottom: 12px;
                    }

                    .order_item_body {
                        border-radius: 8px;
                        border: 1px solid rgb(221, 221, 221);
                        background: rgb(242, 242, 242);
                        padding: 14px;
                        @include display-xs;

                        &.horizontal {
                            display: flex;
                            align-items: center;
                        }

                        img.item_body_img {
                            overflow: hidden;
                            height: 32px;
                            padding: 0px;
                            display: inline-flex;
                            -webkit-box-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            justify-content: center;
                            position: relative;

                            img {
                                width: 100%;
                            }
                        }

                        p.item_body_text {
                            margin-left: 10px;
                            font-weight: 500;
                            color: #292929;
                        }

                        h1.name {
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                    }

                    .order_item_products {
                        .product {
                            border-top: 1px solid rgb(221, 221, 221);
                            display: flex;
                            align-items: center;
                            padding: 10px 16px;

                            .product_icon {
                                width: 72px;
                                height: auto;
                                min-width: 72px;

                                img {
                                    width: 100%;
                                    mix-blend-mode: multiply;
                                }
                            }

                            .product_info {
                                @include display-xs;
                                margin-left: 10px;
                                white-space: nowrap;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .product_details {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                @include display-xs;

                                p.product_quantity {
                                    margin-right: 6px;
                                    color: #5d5d5d;
                                }

                                p.product_price {
                                    font-weight: 500;
                                    color: #292929;
                                }
                            }
                        }

                        .products_summary {
                            border-top: 1px solid rgb(221, 221, 221);
                            display: flex;
                            justify-content: flex-end;

                            .inner {
                                width: 30rem;
                                padding: 12px 16px;
                                margin-left: auto;

                                .item {
                                    @include display-xs;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 6px;
                                }

                                .item_total {
                                    font-weight: 600;
                                    @include display-xs;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 6px;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}