@import "base";

.container4lop {
    margin-top: 130px;

    @media only screen and (max-width: 1300px) { 
        margin-top: 60px;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        padding-inline: 2rem;
        position: relative;
        height: 50px;

        .btn_back {
            background-color: #FF7930;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            color: #fff;
            border-radius: var(--radius);
            cursor: pointer;

            svg {
                transform: translateX(-2px);
            }
        }

        h1 {
            @include display-xl;
            padding-inline: 30px;
            font-weight: 700;
            color: #242424;
            white-space: nowrap;
        }

        span.line {
            background-color: #FF7930;
            height: 4px;
            width: 80%;
            border-radius: 10px;
        }

        @media only screen and (max-width: 1300px) { 
            padding-inline: 0;

            .btn_back {
                width: 40px;
                height: 40px;
            }

            h1 {
                @include display-md;
                padding: unset;
                margin-left: 10px;
            }

            span.line {
                display: none;
            }
        }
    }

    .step_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .items {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 10rem;
            margin-top: 60px;
            width: 100%;
            gap: 1rem;

            @media only screen and (max-width: 1300px) { 
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
                padding-inline: 20px;
            }

            .banner {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 345px;
                border: 3px solid #d1d1d1;
                border-radius: 15px;
            }

            .item {
                border: 3px solid #d1d1d1;
                border-radius: 15px;
                width: 100%;
                max-width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 500ms ease-out;
                flex: 0 1 400px;

                img {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                .text {
                    padding-block: 20px;
                    width: 100%;
                    background-color: transparent;
                    border-top: 3px solid #d1d1d1;
                    transition: background-color 500ms ease-out;
                    color: #2b2b2b;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                    
                    h1 {
                        @include display-md;
                        font-weight: 500;
                        width: 100%;
                        text-align: center;
                    }
                }

                &:hover {
                    .text {
                        background-color: #f9ede7;
                    }
                }

                &.active {
                    border-color: #FF7930;

                    .text {
                        border-color: #FF7930;
                        // background-color: #ffe3d4;
                        background-color: #FF7930;
                        color: #fff;
                    }
                }
            }
        }
    }

    .step_two {
        display: flex;
        width: 100%;
        padding: 10rem;

        @media only screen and (max-width: 1300px) { 
            flex-direction: column;
            padding: 20px;
        }

        .image {
            width: 100%;
            border: 3px solid #FF7930;
            border-radius: 20px;

            img {
                border-radius: 20px;
            }
        }

        .options {
            width: 80%;
            padding: 5rem;

            .chips {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                .chip {
                    border: 2px solid #d1d1d1;
                    padding: 13px 23px;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: transparent;
                    transition: all .3s;
                    color: #3a3a3a;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        @include display-sm;
                        font-weight: 600;
                    }

                    &:hover {
                        background-color: #fff1ea;
                    }

                    &.active {
                        border-color: #FF7930;
                        background-color: #FF7930;
                        color: #f3f3f3;
                    }
                }
            }

            @media only screen and (max-width: 1300px) { 
                width: 100%;
                padding: unset;
                margin-top: 3rem;
            }
        }
    }

    .step_three {
        display: flex;
        width: 100%;
        padding: 10rem 0;

        @media only screen and (max-width: 1300px) { 
            flex-direction: column;
            padding: 20px;
        }

        .canvas_layout {
            width: 55rem;
            min-width: 55rem;
            height: 55rem;

            &.summary {
                width: 70rem;
                min-width: 70rem;

                .canvas {
                    cursor: default !important;
                }
            }

            .canvas {
                border-radius: 30px;
            }

            @media only screen and (max-width: 1300px) { 
                width: 100%;
                min-width: 100%;

                &.summary {
                    width: 100%;
                    min-width: 100%;
                }
            }
        }

        .options_layout {
            width: 80%;
            padding-left: 5rem;
            display: flex;
            flex-flow: column;
            max-height: 55rem;

            @media only screen and (max-width: 1300px) { 
                width: 100%;
                padding-left: unset;
            }

            .options {
                flex: 1 1 auto;
                overflow-y: scroll;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;

                @media only screen and (max-width: 1300px) { 
                    grid-template-columns: repeat(2, 1fr);
                }
                
                .option {
                    border: 3px solid #d1d1d1;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: all .3s;
                    user-select: none;
                    display: flex;
                    flex-flow: column;
                    position: relative;

                    &.notAvailable {
                        pointer-events: none;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(255, 255, 255, 0.5);
                            border-radius: 15px;
                        }
                    }

                    .image img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        flex: 1 1 auto;
                    }

                    .text {
                        border-top: 3px solid #d1d1d1;
                        padding: 13px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        transition: all .3s;
                        flex: 1 1 auto;

                        p {
                            @include display-xs;
                            text-align: center;
                        }
                    }

                    &.active {
                        border-color: #FF7930;

                        .text {
                            border-color: #FF7930;
                            background-color: #FF7930;
                            color: #fff;
                        }
                    }
                }
            }

            .summary {
                margin-top: 20px;

                h1 {
                    @include display-lg;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                h2 {
                    margin-bottom: 20px;
                    @include display-sm;
                    color: #373737;
                    font-weight: 600;
                }

                h3 {
                    margin-bottom: 6px;
                    @include display-sm;
                    color: #373737;
                    font-weight: 600;
                }

                ul {
                    list-style: inside;
                }

                li {
                    @include display-xs;

                    .version {
                        font-size: 1rem;
                        margin-left: 5px;
                        font-weight: 600;
                        color: #979797;
                    }
                }
            }

            button {
                margin-top: 20px;
            }
        }
    }
}